<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xencio.marquez.mapper.MarquezMapper">
    <insert id="insertEnterpriseAll" parameterType="com.xencio.marquez.pojo.EnterprisePojo" keyProperty="id" useGeneratedKeys="true">
        insert into tb_enterprise (`enterprise_name`,`enterprise_location`,`email`)
        values
        <foreach collection="enterpriseList" item="enterprise" separator=",">
            (#{enterprise.enterpriseName},#{enterprise.enterpriseLocation},#{enterprise.email})
        </foreach>
        ;
    </insert>

    <insert id="insertShardholderAll" parameterType="com.xencio.marquez.pojo.ShareholderPojo" keyProperty="id" useGeneratedKeys="true">
        insert into tb_shareholder (`shareholder_name`,`shareholder_enterprise`,`shareholder_percent`)
        values
        <foreach collection="shareholderList" item="shareholder" separator=",">
            (#{shareholder.shareholderName},#{shareholder.shareholderEnterprise},#{shareholder.shareholderPercent})
        </foreach>
        ;
    </insert>

    <insert id="insertEnterpriseShareholder">
        INSERT INTO tb_enterprise_shareholder (`enterprise_name`,`shareholder_name`,`shareholder_percent`)
            (
                SELECT
                    t1.enterprise_name enterprise_name,
                    t2.shareholder_name shareholder_name,
                    t2.shareholder_percent shareholder_percent
                FROM tb_enterprise t1
                         LEFT JOIN tb_shareholder t2 ON t1.enterprise_name = t2.shareholder_enterprise
        );
    </insert>
</mapper>